

@import "tailwindcss";
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: 'Inter', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}